@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Primera Pagina con Patron MVC</h1>
    <p>Modelo Vista Controlador <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br>
    <h4>Modelo</h4>
    <p>El modelo se encarga del manejo de los datos</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UU8AKk8Slqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
